.title {
  height: 25vh;
  width: 100%;
  background-image: url("../images/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.title1 {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

.body {
  font-family: Cambria, Cochin, Georgia, "Times New Roman", serif;
}
.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  line-height: 1.8;
  margin-bottom: 5rem;
}
h1,
h2 {
  color: #333;
}
p {
  color: #666;
}
.editorial-board {
  font-style: italic;
}
.section {
  margin-bottom: 20px;
}
