.top {
  flex-direction: column;
  display: flex;
  height: 50vl;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", serif;
  font-weight: 300;
}
.top1 {
  margin: 3% 20% 3% 20%;
}
.open {
  color: #ff8e06;
  font-size: 1vw;
}

.author {
  font-size: 1vw;
}

.hl {
  border: 0.5px solid grey;
  margin-bottom: 0.5vw;
  width: 100%;
  opacity: 0.4;
}
.hl2 {
  border: 0.5px solid grey;
  margin-top: 4vw;
  margin-bottom: 3vw;
  width: 58%;
  opacity: 0.4;
}
.type {
  font-size: 1vw;
}
.h2 {
  border: 0.5px solid grey;
  margin-bottom: 0.5vw;
  width: 100%;
  opacity: 0.4;
}

.h1 {
  margin: 3.5vw 0 2vw 0;
  font-size: 3vw;
  font-weight: bold;
}
.box {
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.1);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vw;
  overflow: auto;
}
.container {
  flex-direction: column;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vw;
}
.container p {
  text-wrap: auto;
}

.abstract {
  padding-top: 20vw;
  margin-top: 20vw;
  line-height: 1.6;
  font-size: 1.5vw;
  opacity: 0.8;
  width: 75vw;
}

.pdfcontainer {
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #fff;
  padding: 1.5vw;
  width: 80%;
  max-width: 50vw;
  background-color: whitesmoke;
  margin-bottom: 50vw;
}
.pdf {
  background-color: #ff6347;
  color: white;
  padding: 1vw 2vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1vw;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.8vw;
}

.pdf:hover {
  background-color: #e5533d;
}

.pdfheading {
  font-size: 2vw;
  color: #333;
  margin-bottom: 2vw;
}

.pdfsubheading {
  color: #666;
  font-size: 1vw;
  margin-bottom: 2vw;
}
