.background2 {
  height: 400px;
  font-size: 20px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  justify-content: flex-end;
  background-size: cover;
  display: flex;
  flex-direction: row;
  /* vertical */
  justify-content: flex-start;
  /* horizontal */
  align-items: flex-start;
  display: flex;
}

.background3 {
  flex-direction: row;
  display: flex;
}

.journal {
  padding: 1rem;
  margin: 1rem 1rem 0 0;
}

.journal img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 1em;
  max-width: 100%;
  max-height: 100%;
  width: 20rem;
}

.currentissue1 {
  font-size: 30px;
  font-family: "open sans";
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.currentissue2 {
  margin-top: 1em;
  font-size: 20px;
  font-weight: bold;
  font-family: "open sans";
  color: rgb(0, 0, 0);
}

/* buttons */
.currentissue {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 10px 40px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.policies {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid black;
  padding: 10px 40px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.currentissue:hover {
  background-color: white;
  color: black;
}

.policies:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.buttons {
  flex-direction: row;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.hl {
  border: 0.5px solid grey;
  margin-bottom: 0.5em;
  width: 550px;
}

.vl2 {
  border: 0.75px solid black;
  height: 504px;
  margin: 0 0 0 16px;
}
.hl2 {
  border: 0.75px solid black;
  width: 100%;
  margin-top: 6.5em;
}

.journaldescription {
  margin-top: 1.5em;
  font-size: 20px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  justify-content: flex-end;
  flex-direction: column;
  font-weight: lighter;
  display: flex;
  flex: 1 1;
  margin-right: 2em;
}

.journalstats {
  font-size: 20px;
  font-family: "open sans";
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
  flex: 1 1;
}
.blackbox {
  height: 100px;
  width: 400px;
  background-color: black;
}

.name {
  color: white;
  font-size: 30px;
  font-family: "open sans";
  font-weight: bold;
  margin-bottom: 1em;
  background-color: black;
  padding: 20px;
}
.issn {
  margin-left: 20px;
}
.thejournallogo img {
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  margin-top: 3em;
}
