.sidebar {
  height: 100%;
  width: 5vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 8vw;
  white-space: nowrap;
}

.sidebar a {
  padding: 1vw 1vw 0vw 2vw;
  text-decoration: none;
  font-size: 1.5vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  top: 0;
  font-size: 3vw;
  margin-left: 7vw;
}

.material-icons,
.icon-text {
  vertical-align: middle;
  font-size: 2vw !important;
}

.material-icons {
  padding-bottom: 0.15vw;
}

#main {
  transition: margin-left 0.5s;
  margin-left: 5vw;
}

@media screen and (max-height: 40vw) {
  .sidebar {
    padding-top: 1vw;
  }
  .sidebar a {
    font-size: 1vw;
  }
}
